body {
  display:flex;
 flex-direction: column;
 font-family: 'Questrial';
}

header {
  background-color: #2056ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

header i {
  color: #ffffff;
  font-size: 1.5em;
}

h1 {
  font-size: 2em;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.5em;
  padding-bottom: 1.5em;
}
h2 {
    font-weight: bold;
    padding-bottom: 2em;
}

h3, h4 {
    font-weight: bold;
}

ul {
  display: flex;
 justify-content: center;
 flex-wrap: wrap;
  color: #ffffff ;
  font-weight: bold;
}

ul li a {
  padding: 1em;
  color: #ffffff ;
  text-decoration: none;
}

ul li a:hover {
  background-color: #ffffff;
  color: #2056ac;
  border-radius: 5px;
}

main img {
  float: left;
  height:auto;
  width: 40%;
  margin: 1em;
}


main section h2 {
    margin-top: 1em;
    margin-left: 2em;
}

main section p {
    margin: 0 1em;
}

hr {
    margin: 0.8em 1em;
}

.articleGrand, #petitArticle {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

.articleGrand {
  flex-direction: column;
}

.articleGrand article {
  margin-bottom: 1em;
}

.articleGrand article h3 {
  margin-bottom: 1em;
}

.bouton, .boutonPetit {
  text-align: center;
  background-color: #64ABD1;
  width: 45%;
  padding: 1em;
  margin: 1em auto;
}

.bouton a, .boutonPetit a {
  text-decoration: none;
  color: #ffffff;
    margin-top: auto;
}

#petitArticle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

#petitArticle h4 {
margin-bottom: 2em;
}

#petitArticle article {
  width: 45%;
  margin-bottom: 1em;
}

.contact {
    background-color: #E0EFF6;
    display: flex;
    justify-content: space-around;
    padding: 2em;
    flex-wrap: wrap;
}

.contact i {
    font-size: 2em;
    padding-bottom: 0.5cmem;
}

.contact p {
    width: 50%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.8em;
}
